@font-face {
  font-family: 'Avenir Next';
  }

.socials {
    /*border-top: 1px solid var(--ifm-toc-border-color);*/
    display: grid;
    padding: 0rem 7rem 2rem;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 3rem;

    margin-top: 50px;
    font-family: "Avenir Next" !important;

}

@media (min-width: 1024px) {
    .socials {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 850px) {
    .socials
    {
        grid-template-rows: 2fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 668px) {
    .socials
    {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        padding: 20px;
    }
}

.featureSvg {
    height: 200px;
    width: 200px;
}

.social {

    color: var(--ifm-font-color-base);
    cursor: pointer;
    border-radius: 16px;
    text-decoration: none !important;

  box-shadow: 0px 0px 99px rgba(118,118,118,0.16);
    padding: 1rem 0 !important;
    font-family: "Avenir Next" !important;
}

.social:hover {
    border-color: var(--ifm-tiles-link-hover-color);
    color: var(--ifm-font-color-base);
}

.twitter {
    align-items: center;
    display: flex;
    justify-content: center;


}

.wrapper {
    position: relative;
    padding-top: 24px;
}

.arrow {
    position: absolute;
    top: 0;
    right: 14px;
}
