.guides {
    display: grid;
    padding: 0 5rem 3rem;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    
    gap: 2.5rem;

}
.aneta1 {
    align-items: center;
    display: flex;
    justify-content: center;
}
@media (max-width: 850px) {
    .guides
    {
        grid-template-rows: 2fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 668px) {
    .guides
    {
        grid-template-rows: 1fr 1fr 1fr ;
        grid-template-columns: 1fr;
    }
}

.guides p {
    margin: 0;
}


.featureSvg {
    height: 300px;
    width: 300px;
}

.wrapper {
    position: relative;
    padding-top: 24px;
    height: 400px;
}

.arrow {
    position: absolute;
    top: 0;
    right: 14px;
}

@media (min-width: 668px) {
    .guides {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr ;

    }
}



.guide {
    border: 1px solid var(--ifm-toc-border-color);
    color: var(--ifm-font-color-base);
    cursor: pointer;
    border-radius: 16px;
    text-decoration: none !important;
    padding: 1rem 0 !important;
    box-shadow: 0px 0px 99px rgba(118,118,118,0.16);
}

.guide:hover {
    border-color: var(--ifm-tiles-link-hover-color);
    color: var(--ifm-font-color-base);
}