/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {

  --ifm-color-primary: none ;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
  --dev-dash-bg: url("../../static/icons/moon.svg") no-repeat;
  --dev-dash-bg: url("../../static/icons/sun.svg") no-repeat;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("AvenirNextLTPro-Regular.otf"); /* File to be stored at your site */
  }

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

main .wrapper1 {
padding: 0 max(1rem, calc(30% - 512px));
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar {
 background-color: transparent !important;
 box-shadow: none;
 margin-bottom: -100px;
 position: relative;
}


html[data-theme='light'] header.kek1  {
  height: 1120px;
 background: linear-gradient(to bottom, transparent, #fff),  url(/img/anetaBackground.jpg);
 background-repeat: no-repeat;
-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

html[data-theme='dark'] header.kek1  {
  height: 1120px;
background: linear-gradient(to bottom, transparent, #18191a),  url(/dark/dark_back.png);
 background-repeat: no-repeat;
-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}


html[data-theme='light'] footer.foot1 {

 background: url(/img/anetaBackground.jpg);
color: black;
}


html[data-theme='light'] footer.foot2 {

background: linear-gradient(to top, #edf5fb, #fff);

}

html[data-theme='dark'] footer.foot1 {
background: linear-gradient(to right, transparent, #4B7177),  url(/dark/dark_back.png);
background-repeat: no-repeat;
-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

html[data-theme='dark'] footer.foot2 {
background: linear-gradient(to top, #071118, #162e3f);
background-repeat: no-repeat;
-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

div.textSh1 {
  text-align: center;
}

 div.textSh1 > h1{
  font-size: 50px;
   background: linear-gradient(45deg, #eda6a7 33%, #9cb4f1 66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div.textSh1 > p {
  font-size: 25px ;
  color: #787d80;

}

div.textSh2 {
  text-align: left;
  display: flex;
}

div.textSh2 > h1{
  font-size: 50px;
   background: linear-gradient(45deg, #eda6a7 33%, #9cb4f1 66%);
  -webkit-background-clip: text;
  margin-left: 100px;
  padding-left: 30px; padding-right: 30px;
  -webkit-text-fill-color: transparent;
}

.hefv {
  text-align: left;
  width: 60%;
  display: inherit;
  font-weight: bold;
}

h1.hefv {
  background: linear-gradient(45deg, #eda6a7 33%, #9cb4f1 66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 56px;
}
p.hefv {
  color: black;
}
img.ang1 {

margin-left: 300px;
position: relative;
width: 250px;
height: 250px;
}


div.block2 {
  margin-top: 170px;
}

div.col.kek1 {
 border: 1px solid var(--ifm-toc-border-color);
    color: var(--ifm-font-color-base);
    cursor: pointer;
    border-radius: 16px;
    text-decoration: none !important;

  box-shadow: 0px 0px 99px rgba(118,118,118,0.16);
    padding: 1rem 0 !important;

}


div.col.kek2 {

  column-gap: 20px;
  margin: 0px auto;

  border-radius: 25px;
}

div.block3 {
  margin-top: 170px;
}

div.row.kek2 {

  border-radius: 25px;
  box-shadow: 0px 0px 99px rgba(118,118,118,0.16);
}

div.textSh2 > p {
  font-size: 20px ;
  color: #787d80;

}




header .grid_label {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
padding: 0 7rem 3rem;

}


html[data-theme='light'] header .box1 > h1 {

font-size: 55px;
text-align: left;
   background: -webkit-linear-gradient(45deg, #34708d 66%, #46729b 33%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  line-height: 62px;
}


html[data-theme='dark'] header .box1 > h1 {

font-size: 55px;
text-align: left;
   background: -webkit-linear-gradient(45deg, #F0A5A4 33%, #9BB3F2 66%);
   background: -webkit-linear(45deg, #F0A5A4 33%, #9BB3F2 66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px #00000000;
  line-height: 62px;
}

html[data-theme='dark'] header .box1 > p {
  display: flex;
  font-size: 25px;
  text-align: left;
  font-family: "Avenir Next" !important;
  color: #fff;


}
html[data-theme='light'] header .box1 > p {
  font-family: "Avenir Next" !important;
  display: flex;
  font-size: 25px;
  text-align: left;
  color: #002030;


}


header .box2 > img{
  width: 480px;
  height: 393px;
position: absolute;
justify-content: center;
margin: 0 auto;
align-items: center;
top: 25%;
z-index: 0;
}






header .imgSet {
  display: inline-block;
  float: left;
}

html[data-theme='light'] header .imgSet {
 filter: invert(0.9);
}
header .imgSet > a > img {
  width: 3rem;
  height: 3rem;
  margin-left: 10px;


}

div.textSh3 > h1{
  font-size: 50px;
   background: linear-gradient(45deg, #eda6a7 33%, #9cb4f1 66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0 8rem 0;
}

div.textSh3 > p {
  font-size: 25px ;
  color: #787d80;
  font-family: "Avenir Next" !important;
  padding: 0 8rem 0rem;

}

footer .grid_footer {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  grid-template-rows: 1fr;
  font-family: "Avenir Next" !important;

}

footer .foot1 {
padding: 25px 32px 3px;
}

footer .foot1 > img {
  width: 50px;
  height: 30px;
display: inline-block;
}

footer .foot1 > .ph1  {
  width: 170px;
  display: inline-block;
margin-left: -8px;
}

html[data-theme='light'] footer .foot1 > .ph1  {
  width: 170px;
  display: inline-block;
  filter: invert(0.9);

}



[data-theme="dark"] {
    --dev-dash-bg: url("/icons/moon.svg") no-repeat;
}

.dev-dash {
    background: var(--dev-dash-bg);
}



footer .foot2 {
  text-align: left;
  margin: 0px auto;
  padding: 25px 32px 3px;
}

footer .foot3 {
  text-align: left;
    margin: 0px auto;
    padding: 25px 32px 3px;
}

footer .foot4 {
  text-align: left;
    margin: 0px auto;
    padding: 25px 32px 3px;
}

footer .foot2 > ul {
  list-style-type: none;
}

footer .foot3 > ul {
  list-style-type: none;
}

footer .foot4 > ul {
  list-style-type: none;
}

footer .foot5 {
  text-align: right;
  padding: 25px 32px 3px;
}

footer li {
  line-height: 2.5;
}

footer b {
  text-align: center;
}

html[data-theme='light'] footer .imgconf > a > img  {
  width: 30px;
  height: 30px;
  margin-left: 25px;
  border-radius: 10px;
}


html[data-theme='dark'] footer .imgconf > a > img{
  width: 30px;
  height: 30px;
  margin-left: 25px;
  filter: invert(1);
   border-radius: 10px;
}

html[data-theme='dark'] footer li {
  color: #C2CAD1;
}

.lightIconStyle {
  margin-top: 50px;
}







/*
html[data-theme='dark'] .toggle_node_modules-\@docusaurus-theme-classic-lib-next-theme-Toggle-styles-module {
background-image: url(/icons/moon.svg);
width: 30px;
height: 30px;
background-size: 30px;
margin-right: 10px;
}

html[data-theme='light'] .toggle_node_modules-\@docusaurus-theme-classic-lib-next-theme-Toggle-styles-module {
background-image: url(/icons/sun.svg);
width: 28px;
height: 33px;
background-size: 28px;
margin-right: 10px;
}*/

main .team_block {
text-align: center;
position: relative;
margin: 0px auto;
padding: 90px;
height: 100%;
margin-top: -150px;
}

html[data-theme='light'] main .team_block > h1 {
  font-size: 50px;
  color: black;
line-height: 0;
  margin-top: 100px;
}

html[data-theme='dark'] main .team_block > h1 {
  font-size: 50px;
  line-height: 0;
  margin-top: 100px;
  color: white;
}

main .list_team > h5{
line-height: 1.7;

}

main .list_team > h6{
line-height: 1.3;

}
main .grid_team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
padding: 0 5rem 3rem;
gap: 36px 64px;
margin-top: 150px;

}

main .list_team > img {
  width: 153px;
  height: 153px;
}

html[data-theme='light'] main .list_team {
  width: 233px;
  height: 1fr;
  padding: 15px;
  flex-direction: column;
  background-color: #E3F3FB;
  border-radius: 15px;
  color: black;
}

html[data-theme='dark'] main .list_team {
  width: 233px;
  height: 1fr;
  padding: 15px;
  flex-direction: column;
  background-color: #141b22;
  border-radius: 15px;
  color: white;
}

html[data-theme='light'] main .list_team2 {
  width: 233px;
  height: 1fr;
  padding: 15px;
  flex-direction: column;
  background-color: #E3F3FB;
  border-radius: 15px;
  color: black;
}

html[data-theme='dark'] main .list_team2 {
  width: 233px;
  height: 1fr;
  padding: 15px;
  flex-direction: column;
  background-color: #141b22;
  border-radius: 15px;
  color: white;
}

main .list_team > p {
font-size: 14px;
}


footer .grid_footer_2 {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr 2fr;
  grid-template-rows: 1fr;

}


html[data-theme='light'] main.team_back {
  height: 2020px;
 background: linear-gradient(to bottom, transparent, #fff),  url(/light/background.png);
 background-repeat: no-repeat;
-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

html[data-theme='dark'] main.team_back {
  height: 2020px;
 background: linear-gradient(to bottom, transparent, #162e3f),  url(/team/background2.png);
 background-repeat: no-repeat;
-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

}
main .list_team2 > img {
  width: 113px;
  height: 113px;
}
main .list_team2 > p {
font-size: 14px;
}

main .grid_team_2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr;
padding: 0 10rem;
margin-left: 60px;
}



.ank1 {
position: absolute;
z-index: 0;
right: 0px;
top: 20px;

}

.ank2 {
position: absolute;
z-index: 0;
top: 1650px;
opacity: 0.656;
}

.ank3 {
position: absolute;
z-index: 0;
top: 200px;
right: 1100px;
}

html[data-theme='light'] .ank4 {
position: absolute;
top: 2700px;

filter: invert(1);
z-index: -2;
opacity: 0.2;
right: 1080px;
}

html[data-theme='dark'] .ank4 {
position: absolute;
top: 2700px;
z-index: -2;

opacity: 0.2;
right: 1080px;
}

html[data-theme='light'] .ank5 {
position: absolute;
z-index: -2;
display: block;
filter: invert(1);
top: 3500px;
opacity: 0.2;
right: 50px;
}

html[data-theme='dark'] .ank5 {
position: absolute;
z-index: -2;
display: block;
top: 3500px;
opacity: 0.2;
right: 50px;
}

.grid_footer_2 {

}

.guides {
    display: grid;
    padding: 0 8rem 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
margin: 0;
margin-top: 50px;
    gap: 60px;

}

.guide {

    color: var(--ifm-font-color-base);
    cursor: pointer;
    border-radius: 16px;
    text-decoration: none !important;
    padding: 5rem 1rem !important;
    box-shadow: 0px 0px 99px rgba(118,118,118,0.16);
    position: relative;
 align-items: center;
    display: flex;


    justify-content: center;
}

.guide .kyber {
    padding: 0rem 15px !important;
    margin-top: 30px;
}
.guide .ergo {
    padding: 0rem 5px !important;
    margin-top: 5px;
}
.guide .minswap {
    padding: 0rem 0px !important;
    margin-top: 5px;
}

.guide > img {
  width: 200px;
  height: 200px;
}

.guide1 {

    color: var(--ifm-font-color-base);
    cursor: pointer;
    border-radius: 16px;
    text-decoration: none !important;
    padding: 3rem 0 !important;
    box-shadow: 0px 0px 99px rgba(118,118,118,0.16);


}

.guide1 > p > h3 {
  font-size: 27px;
}
.guide1 > p > h4 {
  font-size: 24px;
}


.guide1 > .text5 {
  margin-top: 25px;
  padding: 0 2rem;
  font-size: 16px;
  justify-content: center;
  text-align: center;
}


.imgSave { align-items: center;
    display: flex;
    justify-content: center;
}

.imgSave > img{
width: 301px;

height: 301px;
}






.guide1 > p {
  align-items: center;
   justify-content: center;
   display: flex;
   text-align: center;
   margin: 25px;

}

.guide > p {

  align-items: center;
   justify-content: center;
   display: flex;
   text-align: center;
   margin: 25px;
}

.guide1 > b {
  font-size: 25px;
}

.guide:hover {
    border-color: var(--ifm-tiles-link-hover-color);
    color: var(--ifm-font-color-base);
}

.guide1:hover {
    border-color: var(--ifm-tiles-link-hover-color);
    color: var(--ifm-font-color-base);
}


@media (max-width: 668px) {
    .guides
    {
font-family: "Avenir Next" !important;
        grid-template-rows: 1fr 1fr 1fr ;
        grid-template-columns: 1fr;
        padding: 20px;
    }



nav .toggle_2i4l {
      display: block;
    }



    footer .grid_footer {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

font-family: "Avenir Next" !important;
    }
    footer .foot1 > img{
      width: 70px;
      display: inline-block;
    }

    footer .foot1 > .ph1{
      width: 200px;
      display: inline-block;
    }

    footer .foot2 {

    margin: 0px;
    padding: 0px;
    }
    footer .foot3 {
  margin: 0px;
    padding: 0px;
    margin-top: 20px;
    }
    footer .foot4 {
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
}

    footer .foot5 {
    text-align: left;
    margin: 20px;
    padding: 0px;

    }

    footer .foot5 > b  {
      margin-left: 10px;
    }


    header .box2 {
      display: none;
    }

    .ank4  {
      display: none;
    }
    .ank5 {
      display: none;
    }

  div  .textSh1  {
      padding: 25px;
    }
   div .textSh1 > h1 {
      font-size: 38px;
    }
    div .textSh1 > p {
      font-size: 18px;
    }
.textSh3 {
line-height: 1.5;

}
    div.textSh3 > h1{
      text-align: center;
      font-size: 38px;
      padding: 0;
    }
    div.textSh3 > p{
      text-align: center;
      font-size: 18px;
      padding: 25px;

    }


header .grid_label {
display: grid;

font-family: "Avenir Next" !important;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
        padding: 0;

}

h1.box1 {
  font-size: 30px;
}

 footer .grid_footer_2 {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

font-family: "Avenir Next" !important;
    }

  main .grid_team {
    grid-template-rows: 1fr ;
        grid-template-columns: 1fr;

font-family: "Avenir Next" !important;
        padding:  0px;
  }

  main .grid_team_2 {
    grid-template-rows: 1fr ;
        grid-template-columns: 1fr;

font-family: "Avenir Next" !important;
      padding: 0 0;
  }

   .team_back {
    height: 2500px;
  }

.ank1 {
      display: none;
    }
    .ank2 {
      display: none;
    }

    .ank3 {
      display: none;
    }

html[data-theme='light'] header .box1 > h1 {
      text-align: center;
      font-size: 38px;

    }
    html[data-theme='dark'] header .box1 > h1 {
      text-align: center;
      font-size: 38px;

      padding: 0;
    }



    header .box2 {
      display: none;
    }
html[data-theme='light'] header .box1 > p {
  font-size: 25px;
  text-align: center;
  justify-content: center;
}

html[data-theme='dark'] header .box1 > p {
  font-size: 25px;
  text-align: center;
  justify-content: center;
}
header .imgSet   {
  padding-left: 50px;
}
header .imgSet > img {

  width: 3rem;
  height: 3rem;
}

/* html[data-theme='dark'] .toggle_node_modules-\@docusaurus-theme-classic-lib-next-theme-Toggle-styles-module {
background-image: url(/icons/moon.svg);
width: 30px;
height: 30px;
background-size: 30px;
margin-left: 100px;
display: flex;
}

html[data-theme='light'] .toggle_node_modules-\@docusaurus-theme-classic-lib-next-theme-Toggle-styles-module {
background-image: url(/icons/sun.svg);
width: 28px;
height: 33px;
background-size: 28px;
margin-left: 100px;
display: flex;
}*/
main .team_block {
text-align: center;
position: relative;
margin: 0px auto;
height: 1fr;
margin-top: -150px;
}

html[data-theme='light'] main .team_block > h1 {
  font-size: 30px;
  color: black;
line-height: 0;
}

html[data-theme='dark'] main .team_block > h1 {
  font-size: 30px;
  line-height: 0;
  color: white;
}
main .grid_team {
  grid-template-rows: 1fr ;
      grid-template-columns: 1fr;
display: grid;
font-family: "Avenir Next" !important;
      padding:  0px;
}

main .grid_team_2 {
  grid-template-rows: 1fr ;
      grid-template-columns: 1fr;

font-family: "Avenir Next" !important;
    padding: 0 0;
}

  html[data-theme='light'] footer .imgconf > img  {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  padding: 0;

}


html[data-theme='dark'] footer .imgconf > img  {
  width: 30px;
  height: 30px;
   background-color: #fff;
   border-radius: 10px;



}

footer .imgconf {
 margin-left: -15px;
}
}


html[data-theme='light'] .navbar__inner {
  position: sticky;

}



html[data-theme="light"] img.ergo2  {
 background-image: none;
 display: none;

}

html[data-theme='dark']  img.ergo1 {
display: none;
background-image: none;

}

.ergo1 .kyber  {
  margint-top: 50px;
}

html[data-theme='dark'] .reddit1 {
  filter: invert(1);
}

main p.font1 {
  font-size: 13px;
}

.list_team > h3 {
  font-size: 18px;
  line-height: 0;
}

.list_team > p > b {
  font-size: 13px;

}

.list_team2 > h3 {
  font-size: 18px;
  line-height: 0;
}

.list_team2 > p > b {
  font-size: 13px;

}
